<h1>DBC News!</h1>

<% @posts.each do |p| %>
<h4> <a href="/<%=p.id%>"><%= p.title %></a> | <a href="<%=p.url%>"><%=  p.url %> </a> | <%= p.created_at %></h4> 
<%# @user = %>
<%# writer = @user.find_by_id(@user) %>

<a href="/userpage/<%=p.user.username%>"><%=p.user.username%></a> 

<% end %> 




<!-- <h2>  <a href="/post">post</a> </h2>
  <ul>
    <li> <a href="/">username</a> </li>
    <li>when posted</li>
    <li> <a href="/comments">comments</a></li>
  </ul>
<h2><a href="/post">post</a></h2>
   <ul>
    <li> <a href="/">username</a> </li>
    <li>when posted</li>
    <li> <a href="/comments">comments</a></li>
  </ul>

<h2><a href="/post">post</a> </h2>
   <ul>
    <li> <a href="/">username</a> </li>
    <li>when posted</li>
    <li> <a href="/comments">comments</a></li>
  </ul> -->

  <a href="/login">login or signup</a>
  <a href="/addpost">Create Posts</a>
